.home{
  margin-right: 100px;
  padding: 11px;
}

.newBook {
  float: right;
  margin-top: -27px;
  margin-right: 65px;
}

.icon-power:before {
	content: "\e90a";
}

.icon-menu li {
  display: none;
}

.mobile-nav-items {
  display: none;
  width: 100%;
}

.icon-menu:hover + .mobile-nav-items {
  display: block;
}

.icon-menu:hover + .mobile-nav-items li {
  display: block;
  margin-left: -5%;
  border-bottom: 1px solid #ebdfaf;
  padding: 1.5%;
}
