.home{
  margin-right: 100px;
  padding: 11px;
}

.newBook {
  float: right;
  margin-top: -27px;
  margin-right: 65px;
}

.icon-menu:hover li {
  /* display: none; */
}

.nav-links {
  display: none;
}
