a {
  text-decoration: none;
}

@media only screen
  /* and (min-device-width: 320px) */
  and (min-width: 600px) {
    body {
    text-align: center;
  }

}

body {
  background-color: #d9d9d9;
}

header {
  background-color: #646464;
  padding: 10px;
  height: 50px;
}

header img {
  margin-right: 8px;
  float: left;
  width: 25px;
  padding-top: 10px;
}

header h1 {
  text-align: center;
  float: left;
  margin-top: 18px;
  display: inline-block;
}

header span {
  display: inline;
  float: right;
  margin-right: -5px;
}

.codefellows {
  margin-left: 20px;
}

/* textarea {
  display: block;
  margin: 0 auto;
  margin-left: 9px;
  width: 95%;
  border-radius: 3px;
  border: solid 2px;
  border-color: black;
} */

footer {
  text-align: center;
  background-color: #9C9C9C;
}

button {
  background-color: #4A4A4A;
  color: white;
  display: block;
  margin-bottom: 50px;
  margin-left: 438px;
  border-radius: 3px;
  border: solid 2px;
  border-color: #4A4A4A;
  margin-top: 10px;
  width: 100px;
  height: 30px;

}
