a {
  text-decoration: none;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 600px) {

}

html {

}

header {
  background-color: #646464;
  padding: 10px;
}

header img {
  margin-right: 8px;
}

header h1 {
  text-align: center;
  display: inline-block;
}

header span {
  display: inline;
  float: right;
  margin-right: -5px;
}

.icon-menu:before {
  content: "\2630";
  margin-left: 195px;
}

.codefellows {
  margin-left: 20px;
}

body {
  text-align: center;
  background-color: #d9d9d9;
}

footer {
  text-align: center;
  background-color: #9C9C9C;
}

button {
  background-color: #4A4A4A;
  color: white;
  display: block;
  margin-left: 245px;
  border-radius: 3px;
  border: solid 2px;
  border-color: #4A4A4A;
  margin-top: 10px;
}
