a {
  text-decoration: none;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 600px) {

}

html {
}

header {
  background-color: #646464;
  padding: 10px;
}

header h1 {
  text-align: center;
  display: inline-block;
}

.icon-menu:before {
  content: "\2630";
  margin-left: 195px;
}

.codefellows {
  margin-left: 20px;
}

body {
  text-align: center;
  background-color: #d9d9d9;
}

footer {
  text-align: center;
  background-color: #9C9C9C;
}

button {
  display: block;
  margin-left: 245px;
}